<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">

    <properties>
        <property name="LOG_HOME">logs</property>
        <property name="FILE_NAME">SmsBoard.log</property>
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] [%logger{36}]   %msg%n</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="${PATTERN}">
                    <PatternMatch key="CLASS" pattern="${PATTERN}"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
        <RollingFile name="file" fileName="${LOG_HOME}/${FILE_NAME}"
                     filePattern="${LOG_HOME}/${FILE_NAME}-%i-log.gz">
            <PatternLayout>
                <pattern>${PATTERN}</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="20 MB" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>